/* For content that's currently commented out on practice.html */
/*
.border {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: lightgrey;
    margin: 5px;
}

.box2 {
    width: 75px;
    height: 75px;
    background-color: lightgrey;
    margin: 5px;
}

.box3 {
    height: 25px;
    width: 25px;
    background-color: grey;
    margin: 15px 15px;
}

.box4 {
    height: 25px;
    width: 25px;
    background-color: grey;
    margin: 35px 65px;
}

.box5 {
    height: 25px;
    width: 25px;
    background-color: grey;
    margin: 40px 40px;
}

.overflow {
    overflow: scroll;
}

.border {
    border: 3px solid grey;
}

.border2 {
    border: 2px dotted black;
}
*/
