/*
.pie {
    transform: rotate(360deg);
    /*nth-of-type() not needed 
    animation: rotate 7s ease-in-out infinite;
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    360% {
        transform: rotate(360deg);
    }
}
*/

.circle {
    position: absolute;
    left: 18px;
    top: 90px;
}

img.slicepng {
    opacity: 0;
}

img.slicepng:hover {
    opacity: 1;
}

.slicepng {
    position: absolute;
    left: -70px;
    top: 6.25px;
}

.slicepng:nth-of-type(2) {
    position: absolute;
    left: -70px;
    top: 175.5px;
    transform: scaleY(-1)
}

.slicepng:nth-of-type(3) {
    position: absolute;
    left: -93px;
    top: 188.75px;
    transform: scale(-1);
    transform: rotate(120deg);
}

.slicepng:nth-of-type(4) {
    position: absolute;
    left: -198px;
    top: 175.5px;
    transform: rotate(180deg);
}

.slicepng:nth-of-type(5) {
    position: absolute;
    left: -239px;
    top: 77px;
    transform: rotate(240deg);
}

.slicepng:nth-of-type(6) {
    position: absolute;
    left: -175px;
    top: -7.75px;
    transform: scale(-1);
    transform: rotate(300deg);
}

/* .circle {
    position: absolute;
    left: 18px;
    top: 90px;
}

.slicepng {
    position: absolute;
    left: -70px;
    top: 6.25px;
}

.slicepng:nth-of-type(2) {
    position: absolute;
    left: -70px;
    top: 175.5px;
    transform: scaleY(-1)
}

.slicepng:nth-of-type(3) {
    position: absolute;
    left: -93px;
    top: 188.75px;
    transform: scale(-1);
    transform: rotate(120deg);
}

.slicepng:nth-of-type(4) {
    position: absolute;
    left: -198px;
    top: 175.5px;
    transform: rotate(180deg);
}

.slicepng:nth-of-type(5) {
    position: absolute;
    left: -239px;
    top: 77px;
    transform: rotate(240deg);
}

.slicepng:nth-of-type(6) {
    position: absolute;
    left: -175px;
    top: -7.75px;
    transform: scale(-1);
    transform: rotate(300deg);
}
*/
