.pie {
    transform: rotate(360deg);
    /*nth-of-type() not needed */
    animation: rotate 7s ease-in-out infinite;
}


@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    360% {
        transform: rotate(360deg);
    }
}
